
<h3>AKTI</h3>
<h2>Predlaganje akta</h2>
<div class="container" ng-controller="actCtrl">
    <div class="row">

        <section class="content">
            <textarea ng-model="act.text" class="input-text text-area" cols="0" rows="0" onFocus="if(this.value==this.defaultValue)this.value='';" onBlur="if(this.value=='')this.value=this.defaultValue;"></textarea>
            <input type="button" value="Send" ng-click="sendAct()" class="input-btn">
            <span ng-bind="error" style="color:red; font-weight:bold; font-size:20px; padding-left:30px;"></span>
        </section>
        
    </div>
</div> 