

<script>

angular.module('user').controller('inputCtrl2', ['$scope',
    function($scope) {
		alert("hej usao jeste");
}]);

</script>

<div ng-controller="inputCtrl2">
<table align="center" border="1">
<tr><th colspan="2">Login</th></tr>
<tr><td>Username:</td><td><input type="text" ng-model="user.username"></td></tr>
<tr><td>Password:</td><td><input type="text" ng-model="user.password"></td></tr>
<tr><td colspan="2" align="center"><input type="button" value="Submit" ng-click="create()"></td></tr>
</table>
</div>