

<script>

angular.module('player').controller('inputCtrl', ['$scope',
    function($scope) {
		alert("hej usao jeste");
}]);

</script>

<div ng-controller="inputCtrl">
<table align="center">
<tr><td>Name:</td><td><input type="text" ng-model="player.name"></td></tr>
<tr><td>Surname:</td><td><input type="text" ng-model="player.surname"></td></tr>
<tr><td>Club:</td><td><input type="text" ng-model="player.club"></td></tr>
<tr><td colspan="2" align="center"><input type="button" value="Submit" ng-click="create()"></td></tr>
</table>
</div>